<!DOCTYPE html>
<html lang="en" ng-app="page">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MAP API Testing</title>

    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css"
          crossorigin="anonymous">

</head>
<body ng-controller="MapController as mapCtrl">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Air Quality Web App</a>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About the Project</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container" >
        <div class="mapContainer">
            <h1 class="header">Pick a location:</h1>

            <input id="mapsearch" class="controls form-control col-sm-6 col-xs-1" type="text" placeholder="">

            <div id="map"></div>

            <div class="alert alert-dismissible alert-secondary">
                <h4>Your coordinates:</h4>
                <div id="info"></div>
            </div>
            <div id="mapCenter"></div>

        </div>
        <button ng-click="mapCtrl.sortList(1);">pm2.5 increasing</button>
        <button ng-click="mapCtrl.sortList(2);">pm2.5 decreasing</button>
        <button ng-click="mapCtrl.sortList(3);">pm10 increasing</button>
        <button ng-click="mapCtrl.sortList(4);">pm10 decreasing</button>
        <button ng-click="mapCtrl.sortList(5);">co increasing</button>
        <button ng-click="mapCtrl.sortList(6);">co decreasing</button>
        <button ng-click="mapCtrl.sortList(7);">bc increasing</button>
        <button ng-click="mapCtrl.sortList(8);">bc decreasing</button>
        <button ng-click="mapCtrl.sortList(9);">o3 increasing</button>
        <button ng-click="mapCtrl.sortList(10);">o3 decreasing</button>
        <button ng-click="mapCtrl.sortList(11);">so2 increasing</button>
        <button ng-click="mapCtrl.sortList(12);">so2 decreasing</button>
        <button ng-click="mapCtrl.sortList(13);">no2 increasing</button>
        <button ng-click="mapCtrl.sortList(14);">no2 decreasing</button>

        <form ng-submit="mapCtrl.onlyShow();" novalidate>
            <select ng-model="mapCtrl.sortRequest.type" required>
                <option value="0">pm2.5</option>
                <option value="1">pm10</option>
                <option value="2">co</option>
                <option value="3">bc</option>
                <option value="4">o3</option>
                <option value="5">so2</option>
                <option value="6">no2</option>
            </select>

            <select ng-model="mapCtrl.sortRequest.operator" required>
                <option value="largerequal"> >= </option>
                <option value="lessequal"> <= </option>
            </select>

            <input ng-model="mapCtrl.sortRequest.value" type="number" required>

            <button type="sumbit" value="submit" >show</button>
            <button value="reset" ng-click="mapCtrl.sortRequest = {};">reset</button>
        </form>

        <form ng-submit="mapCtrl.l">
            <input type="text" id="loca" disabled>
            <span>Latitude: </span>
            <input type="text" id="coordLat" disabled>
            <span>Longitude: </span>
            <input type="text" id="coordLng" disabled>
            <span>Start: </span>
            <input type="date" id="dateStarts">
            <span>End: </span>
            <input type="date" id="dateEnds">

            <button type="sumbit" value="submit" >show</button>
            <button value="reset" ng-click="mapCtrl.sortRequest = {};">reset</button>
        </form>

        <div id="airTable">
            <table class="table">
                <tr>
                    <th>Location</th>
                    <th>pm2.5</th>
                    <th>pm10</th>
                    <th>co</th>
                    <th>bc</th>
                    <th>o3</th>
                    <th>so2</th>
                    <th>no2</th>
                </tr>

                <tr ng-repeat="data in datalist">
                    <td>{{data.location}}</td>
                    <td>{{data.parameters[0].value}}</td>
                    <td>{{data.parameters[1].value}}</td>
                    <td>{{data.parameters[2].value}}</td>
                    <td>{{data.parameters[3].value}}</td>
                    <td>{{data.parameters[4].value}}</td>
                    <td>{{data.parameters[5].value}}</td>
                    <td>{{data.parameters[6].value}}</td>
                </tr>


            </table>
        </div>
    </div>







    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdr_19KHQ0XHbphpXpRQcHL2XI_Dwzd_w&libraries=places">
    </script>

    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>


    <script src="js/popper.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>
</body>
</html>